.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    background-color: #78CE33;
    border-bottom-right-radius: 150px;
    transition: $transition;
    
    @media (max-width: 767.98px) {
        overflow-y: scroll;
        max-height: 100vh;
    }

    @media (max-width: 767.98px) {
        border-bottom-right-radius: 0;
        padding: 0 15px;
    }
    
    &-content {
        height: 115px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (max-width: 767.98px) {
            flex-wrap: wrap;
            height: auto;
            padding: 15px 0;
        }

        .logo {
            img {
                height: 100px;
            }
        }

        .mobile-nav {
            cursor: pointer;
            margin-left: auto;
            display: none;
            border: 2px solid $bColor;
            padding: 10px;

            @media (max-width: 767.98px) {
                display: block;
            }

            img {
                width: 30px;
            }
        }

        .list {
            
            ul {
                display: flex;
                align-items: center;

                li {
                    position: relative;

                    a {
                        display: block;
                        padding: 6px 12px;
                        font-size: 18px;
                        color: $bColor;
                        text-transform: uppercase;
                        position: relative;
                        transition: all .2s;
                        margin-left: 10px;
                        font-family: 'altero', sans-serif;


                        &::after {
                            content: '';
                            width: 100%;
                            height: 4px;
                            background-color: transparent;
                            position: absolute;
                            top: 100%;
                            left: 0;
                            border-radius: 2px;
                            transition: all .2s;
                            transform: scaleX(.7);
                            transform-origin: center;
                        }
                    }

                    &:hover,
                    &.active {
                        a {
                            color: $white;

                            &::after {
                                transform: scaleX(1);
                                background-color: #f5e933;
                            }
                        }
                    }

                    ul {
                        box-shadow: inset  0 10px 15px rgba(0, 0, 0, 0.3);
                        flex-direction: column;
                        position: absolute;
                        top: 100%;
                        left: 0;
                        background-color: #8acd26;
                        width: 185px;
                        text-align: center;
                        padding-bottom: 10px;
                        margin-top: 32px;
                        opacity: 0;
                        visibility: hidden;
                        transition: $transition;

                        @media (max-width: 767.98px) {
                            position: relative;
                            margin-top: 0;
                            visibility: visible;
                            opacity: 1;
                        }
    
                        &::after {
                            content: '';
                            width: 100%;
                            height: 32px;
                            position: absolute;
                            left: 0;
                            bottom: 100%;
                        }
    
                        li {
                            width: 100%;
                            margin: 0;
                            
                            a {
                                margin-left: 0;
                                height: 70px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
    
                                
    
                                &::after {
                                    transform: scaleX(1);
                                    left: 15px;
                                    width: calc(100% - 30px);
                                    background-color: #f5e933;
                                }
    
                                &:hover {
                                    background-color: #f4c400;
                                    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
    
                                    &::after {
                                        opacity: 0;
                                    }
                                }
                            }

                            &:last-child {
                                a {
                                    &::after {
                                        display: none;
                                    }
                                }
                            }
                        }
                    }

                    &:hover {
                        ul {
                            opacity: 1;
                            visibility: visible;
                        }
                    }
                }

            }

            @media (max-width: 767.98px) {
                width: 100%;
                padding-left: 15px;
                display: none;

                ul {
                    flex-direction: column;
                    align-items: flex-start;
                    padding-top: 15px;

                    li {
                        a {
                            padding-left: 0;
                            margin-bottom: 10px;
                        }
                    }
                }
            }
        }
    }

    &.fixed {
        border-bottom-right-radius: 0;
    }
}